<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new user</title>
    <link rel="stylesheet" href="/stylesheets/create.css">
</head>
<body>
    <div class="wrapper">
        <h1 class="heading">Create new account</h1>
        <form action="/login" method="post" class="form">
            <input type="email" placeholder="email" name="email" class="input">
            <input type="password" placeholder="password" name="password" class="input" >
            <input type="text" placeholder="name" name="name" class="input">
            <input type="number" placeholder="age" name="age" class="input">
            <input type="submit" value="create" class="loginButton">
        </form>
        

    </div>
</body>
</html>