<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="wrapper">
        <h1 class="heading">Login your account</h1>
        <form action="/login" method="post" class="form">
            <input type="email" placeholder="email" name="email" class="input">
            <input type="password" placeholder="password" name="password" id="" class="input" >
            <input type="submit" value="log-in" class="loginButton">
        </form>
        <a href="/create" class="create">create new account</a>

    </div>
</body>
</html>