<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="wrapper">

        <div class="navbar">
            <a href="">create new account</a>
            <a href="">logout</a>
        </div>

        <h2>Jhon doe</h2>
        <h3>age : 19</h3>
        <h4>create your post</h4>
        <form action="/post">
            <textarea name="postWrite" id="" placeholder="write what on your mind"></textarea>
            <input type="submit" value="submit">
        </form>
        <div class="postsContainer">
            <div class="post">
                <h3>@username</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse velit voluptatibus magnam laboriosam itaque blanditiis quibusdam optio maiores, consequuntur totam.</p>
                <a href="/like">likes</a>
                <a href="/edit">adit-post</a>
            </div>
        </div>



    </div>
</body>
</html>
